---
import PageHeading from "../components/page-heading.astro";
import PostsLoop from "../components/posts-loop.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Posts">
  <main class="min-h-screen flex flex-col">
    <section class="relative z-20 max-w-6xl mx-auto my-12 px-7 lg:px-0 flex-1">
      <div class="z-50 grid grid-cols-1 md:grid-cols-2 gap-5 my-8 animate-stagger">
        <PostsLoop count="999999999" />
      </div>
    </section>
  </main>
</Layout>
