---
const { link, text } = Astro.props;
---

<a
  href={link}
  class="inline-flex w-auto px-4 py-2 mt-5 text-xs font-semibold glass-card liquid-glass rounded-full hover:scale-105 transition-all duration-300"
>
  {text}
</a>
